In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('../data/source/customer_sales.db')

In [3]:
import pandas as pd

In [4]:
df_sales = pd.read_sql_query("select * from tbl_sales;", conn)
#df_sales = pd.read_sql_query("select * from tbl_sales;", conn, index_col="Sale_ID")

In [5]:
df_sales.head()

,Sale_ID,Sale_Date,Description,Customer_ID,Product_ID,Sales_Amount,Sales_Quantity
0,1,12/31/2014,Purchased from Store,2,2,20,1
1,2,1/15/2015,Phone Purchase,1,1,30,2
2,3,6/14/2015,Internet Purchase,3,3,5,1
3,4,11/11/2015,Sales Convention Purchase,3,3,500,100
4,5,4/18/2016,Internet Purchase,4,1,20,2

In [6]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sale_ID         10 non-null     int64
 1   Sale_Date       10 non-null     object
 2   Description     10 non-null     object
 3   Customer_ID     10 non-null     int64
 4   Product_ID      10 non-null     int64
 5   Sales_Amount    10 non-null     int64
 6   Sales_Quantity  10 non-null     int64
dtypes: int64(5), object(2)
memory usage: 688.0+ bytes

In [14]:
df_sales.sort_values(by='Sale_Date')

,Sale_ID,Sale_Date,Description,Customer_ID,Product_ID,Sales_Amount,Sales_Quantity
1,2,1/15/2015,Phone Purchase,1,1,30,2
5,6,10/15/2016,Purchased from Store,5,1,20,1
3,4,11/11/2015,Sales Convention Purchase,3,3,500,100
0,1,12/31/2014,Purchased from Store,2,2,20,1
6,7,3/17/2017,Internet Purchase,4,1,20,1
4,5,4/18/2016,Internet Purchase,4,1,20,2
8,9,5/25/2019,Internet Purchase,1,3,10,2
2,3,6/14/2015,Internet Purchase,3,3,5,1
7,8,6/15/2018,Purchased from Store,3,3,5,1
9,10,6/9/2019,Internet Purchase,2,3,10,2

In [63]:
df_sales.loc[9]

Sale_ID                          10
Sale_Date                  6/9/2019
Description       Internet Purchase
Customer_ID                       2
Product_ID                        3
Sales_Amount                     10
Sales_Quantity                    2
Name: 9, dtype: object

In [59]:
df_sales.loc[:,'Sale_Date']

0    12/31/2014
1     1/15/2015
2     6/14/2015
3    11/11/2015
4     4/18/2016
5    10/15/2016
6     3/17/2017
7     6/15/2018
8     5/25/2019
9      6/9/2019
Name: Sale_Date, dtype: object

In [54]:
#results = df_sales['Sales_Amount'] > 100
#results

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
9    False
Name: Sales_Amount, dtype: bool

In [52]:
df_sales[(df_sales['Sales_Amount'] > 100)]

,Sale_ID,Sale_Date,Description,Customer_ID,Product_ID,Sales_Amount,Sales_Quantity
3,4,11/11/2015,Sales Convention Purchase,3,3,500,100

In [57]:
df_sales[(df_sales['Sales_Quantity'] == 1)]

,Sale_ID,Sale_Date,Description,Customer_ID,Product_ID,Sales_Amount,Sales_Quantity
0,1,12/31/2014,Purchased from Store,2,2,20,1
2,3,6/14/2015,Internet Purchase,3,3,5,1
5,6,10/15/2016,Purchased from Store,5,1,20,1
6,7,3/17/2017,Internet Purchase,4,1,20,1
7,8,6/15/2018,Purchased from Store,3,3,5,1