In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('../data/source/customer_sales.db')

In [3]:
import pandas as pd

In [4]:
df_customers = pd.read_sql_query("select * from tbl_customers;", conn)

In [5]:
df_customers.head()

,Customer_ID,First_Name,Last_Name,Address_Line_1,Address_Line_2,City,State,ZipCode,Phone,Email
0,1,Johnny,Smith,123 Main Street,None,Miami,FL,12345,302-555-1212,jsmith@email.com
1,2,Debbie,Winner,31 Roundtree Lane,None,Dover,NJ,18888,None,debbie_winner@email.com
2,3,Seth,Winer,310 Roundtree Lane,None,Dover,NJ,18888,None,sw@email.com
3,4,Anthony,Leedessa,Dallas Drive,Unit 806,El Paso,TX,99928,None,alligator@email.com
4,5,Pete,Einstein,Morton Street,None,Philadelphia,PA,28373,215-555-1212,peter_einstein@email.com

In [7]:
pd.isnull(df_customers)

,Customer_ID,First_Name,Last_Name,Address_Line_1,Address_Line_2,City,State,ZipCode,Phone,Email
0,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,True,False,False,False,True,False
2,False,False,False,False,True,False,False,False,True,False
3,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,True,False,False,False,False,False