<a href="https://colab.research.google.com/github/nevermind78/Data_Analysis/blob/main/SOLUTION_EtudeDeCasSQLite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import standard libs
import os
# if on collab pull required subdirectories
if os.getenv("COLAB_RELEASE_TAG"): 
    # install github clone - allows for easy cloning of subdirectories
    !pip install github-clone
    from pathlib import Path 

    # clone datasets
    if not Path('Data/').is_dir():
        !ghclone https://github.com/nevermind78/Data_Analysis/tree/main/Data
    else:
        print('Data/!')
# append path for local library, data, and image import
import sys
sys.path.append('./Data')

In [10]:
import sqlite3
import pandas as pd

# [Enonce](https://github.com/nevermind78/Data_Analysis/blob/main/Data/ETUDEDECAS.pdf)

# Exercice1

### Récuperer les dataFrame à partir des fichiers csv

In [11]:
df_enseignants = pd.read_csv('Data/enseignants.csv',sep=";")

In [12]:
df_enseignants.columns=['idEnseignant','prenom','nom','adresse', 'cp','ville','telFixe','telPortable']
df_enseignants.head(1)

,idEnseignant,prenom,nom,adresse,cp,ville,telFixe,telPortable
0,1,Lou,Loyer,94 Avenue de Bellefosse,3074,Puylanbont,266289546,747070072

renommer les colonnes de dataFrame comme dans le diagramme UML

df_enseignants.columns = ['idEtudiant','prenom','nom','adresse', 'cp','ville','telFixe','telPortable']

In [13]:
df_enseignants

,idEnseignant,prenom,nom,adresse,cp,ville,telFixe,telPortable
0,1,Lou,Loyer,94 Avenue de Bellefosse,3074,Puylanbont,266289546,747070072
1,2,Ines,Beguin,33 Ruelle de Domval,70722,Quedy,206649017,627308378
2,3,Amelie,Bourdier,63 Impasse de Maisondure,56035,Mabanches,285453814,697428274
3,4,Clarisse,Laville,55 Boulevard de Taleterre,25151,Tevône,326967415,622866240
4,5,Luna,Lechat,54 Chemin de Malaterre,9322,Peyfargues,332296656,741765634
5,6,Amelie,Mora,55 Route de Rudelieu,55442,Canpent,245257607,673378607
6,7,Marine,Deville,22 Rue de Puy-en-laine,84259,Acangalle,153770178,640806379
7,8,Clementine,Tardy,5 Avenue de Pontpuit,74392,Dieu,251006520,743612517
8,9,Solene,Ferre,93 Ruelle de Vignevaux,59906,Lanvame,263286728,608237429
9,10,Justine,Michon,92 Impasse de Aprerieu,59854,Autuse,293023219,742293956
10,11,Emilie,Sorel,77 Boulevard de Vignedure,79167,Duire,154462036,738171358
11,12,Adele,Carrere,78 Chemin de Bourgloup,84535,Brilac,279294829,612263908
12,13,Oceane,Leleu,24 Route de Richesherbes,59793,Lanbavrois,183114404,748385322
13,14,Pauline,Lavaud,75 Rue de Lai-sous-mine,86106,Benur,121729294,616397287
14,15,Heloise,Pajot,78 Avenue de Roncefolle,28094,Puyfeux,443690829,702774729

In [14]:
df_etudiants = pd.read_csv('Data/etudiants.csv',sep=";")

In [15]:
df_etudiants.columns=['idEtudiant','prenom','nom','adresse', 'cp','ville','telFixe','telPortable']
df_etudiants.head(1)

,idEtudiant,prenom,nom,adresse,cp,ville,telFixe,telPortable
0,1,Emile,Caron,35 Rue de Port-à-loup,1957,Conpuygnuse,457943774,783088145

In [16]:
df_inscriptions = pd.read_csv('Data/inscriptions.csv',sep=";")

In [17]:
df_inscriptions.columns=['idInscription','idEtudiant','codeMatiere']
df_inscriptions.head()

   idInscription  idEtudiant codeMatiere
0              1           1        OS14
1              2           1        UX82
2              3           1        PQ84
3              4           1        ZX19
4              5           1        VO38

In [18]:
df_matieres = pd.read_csv('Data/matieres.csv',sep=";")

In [19]:
df_matieres.columns=['codeMatiere','salle','idEnseignant']
df_matieres.head(1)

  codeMatiere salle  idEnseignant
0        PU93  C106             7

In [20]:
df_resultats = pd.read_csv('Data/resultats.csv',sep=";")

In [21]:
df_resultats.columns=['idResultat','idInscription','note']
df_resultats.head(1)

   idResultat  idInscription  note
0           1              1  17.9

### Création de la base et création de la table enseignants

In [23]:
connection = sqlite3.connect('universite.db.db')
cursor = connection.cursor()
cursor.execute('Create Table if not exists enseignants (idEnseignant INTEGER PRIMARY KEY , nom Text, prenom Text,adresse Text,cp Text, ville Text,telFixe Text , telPortable Text)')
connection.commit()

In [24]:
df_enseignants.to_sql('enseignants', connection, if_exists='replace', index = False)

15

index = False pour ne pas ajouter un champ index dans la table (par défaut index=True)

### Création de la table etudiants

In [25]:
cursor.execute('Create Table if not exists etudiants (idEtudiant INTEGER PRIMARY KEY , nom Text, prenom Text,adresse Text,cp Text, ville Text,telFixe Text , telPortable Text)')
connection.commit()

In [ ]:
#df_etudiants.columns = ['idEtudiant','prenom','nom','adresse', 'cp','ville','telFixe','telPortable']

In [26]:
df_etudiants.to_sql('etudiants', connection, if_exists='replace', index = False)

85

### Création de la table inscriptions

In [ ]:
#df_inscriptions.columns = ['idInscription','IdEtudiant','codeMatiere']

In [27]:
cursor.execute('Create Table if not exists inscriptions (idInscription INTEGER PRIMARY KEY , idEtudiant INTEGER,codeMatiere INTEGER)')
connection.commit()

In [28]:
df_inscriptions.to_sql('inscriptions', connection, if_exists='replace', index = False)

507

In [29]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('enseignants',), ('etudiants',), ('inscriptions',)]

In [39]:
# Verification
#df_test = pd.read_sql_query("SELECT * FROM resultats", connection,index_col='idResultat')
#df_test.head()

### Création de la table matieres

In [31]:
#df_matieres.columns = ['codeMatiere','salle','IdEnseignant']
cursor.execute('Create Table if not exists matieres (codeMatiere Text PRIMARY KEY ,salle Text,idEnseignant INTEGER)')
connection.commit()

In [32]:
df_matieres.to_sql('matieres', connection, if_exists='replace', index = False)

60

### Création de la table resultats

In [33]:
#df_resultats.columns = ['IdResultat','IdInscription','note']
cursor.execute('Create Table if not exists resultats (idResultat INTEGER PRIMARY KEY ,idInscription INTEGER,note INTEGER)')
connection.commit()

In [34]:
df_resultats.to_sql('resultats', connection, if_exists='replace', index = False)

3052

### Exercice2

## DataFrame: moyennes par matière ( à partir d'une requête)

In [36]:
df_matieres = pd.read_sql_query('''
SELECT codeMatiere,note FROM resultats r , inscriptions i
where r.IdInscription=i.IdInscription
''', connection)
df_matieres

     codeMatiere   note
0           OS14  17.90
1           OS14  15.90
2           OS14  15.28
3           OS14  15.09
4           OS14  16.41
...          ...    ...
3047        PU93  13.07
3048        PU93  14.57
3049        PU93  13.43
3050        PU93  11.11
3051        PU93  13.44

[3052 rows x 2 columns]

##### Moyenne de chaque matière

In [ ]:
df_matieres.groupby('codeMatiere')["note"].mean().round(2)

codeMatiere
AD23    13.18
AF04    10.71
AH85    10.57
AI90    11.21
BE45    10.58
BK84     9.77
CF19    13.13
CP22    14.58
EJ83     8.73
EV63    13.56
FG33    12.20
FP06     7.88
GR60    11.33
GS90    13.12
HL67    13.53
IK21    12.17
IM19    12.56
IU04    13.67
IX77    11.03
JI17    12.62
JP31    14.95
KB20    14.37
KR44    13.27
LK27    13.85
LW66    12.66
MT41    11.26
MV57    10.34
OA82    11.82
OS14    12.39
PQ84    11.56
PU36    12.53
PU93    12.46
RR23    11.22
RU21    10.43
RW93    10.36
SF68    15.20
SY69    10.45
SZ89    11.60
TE66    14.02
TL82     9.61
UD47     8.37
UE21    10.73
UQ90    13.15
UW44    12.98
UX82    13.32
VD65    13.87
VO38    12.96
VS02    11.60
VT01     9.83
WL63    11.73
XD49    13.71
XO83    12.35
XW85    11.59
YH23    11.48
YN97    12.58
ZB17    10.92
ZF59    10.45
ZI51    10.79
ZK22    15.66
ZX19    13.25
Name: note, dtype: float64

In [37]:
df_matieres[df_matieres['codeMatiere']=='AD23']['note'].mean()

13.184487179487178

In [42]:
df_mat = pd.read_sql_query('''
SELECT m.codeMatiere,ROUND(AVG(r.note),2) Moyenne FROM matieres m 
JOIN inscriptions i ON i.codeMatiere=m.codeMatiere 
JOIN resultats r ON i.idInscription=r.IdInscription 
Where m.codeMatiere ='AD23' '''
, connection)
df_mat

  codeMatiere  Moyenne
0        AD23    13.18

##### Moyenne maximale de chaque matière

In [ ]:
df_matieresMax=df_matieres.groupby('codeMatiere')["note"].max().round(2)

In [ ]:
df_matieresMax

codeMatiere
AD23    19.96
AF04    19.91
AH85    14.92
AI90    19.93
BE45    19.11
BK84    19.12
CF19    19.56
CP22    19.92
EJ83    14.36
EV63    19.97
FG33    19.63
FP06    19.95
GR60    18.90
GS90    19.73
HL67    19.86
IK21    19.80
IM19    19.55
IU04    19.46
IX77    19.93
JI17    19.66
JP31    19.70
KB20    19.98
KR44    19.96
LK27    19.16
LW66    19.62
MT41    19.27
MV57    19.88
OA82    19.73
OS14    19.79
PQ84    19.80
PU36    19.04
PU93    19.72
RR23    19.94
RU21    19.55
RW93    14.93
SF68    19.73
SY69    19.79
SZ89    19.10
TE66    19.75
TL82    18.62
UD47    14.59
UE21    19.83
UQ90    19.61
UW44    19.60
UX82    19.75
VD65    19.55
VO38    19.77
VS02    20.00
VT01    14.91
WL63    19.81
XD49    19.92
XO83    19.65
XW85    14.94
YH23    19.96
YN97    19.53
ZB17    18.64
ZF59    19.32
ZI51    19.11
ZK22    19.67
ZX19    19.82
Name: note, dtype: float64

In [ ]:
df_matieresMax.to_json("matiereMax.json")

df_matieresMax = pd.DataFrame(df_matieresMax, columns = ['moyenneMax','moyenne '])

In [ ]:
df_matieresMax.to_json("matiereMax.json")

##### Moyenne minimale de chaque matière

In [ ]:
df_matieresMin=df_matieres.groupby('codeMatiere')["note"].min().round(2)

In [ ]:
df_matieresMin

##### Moyenne de toute les matières

In [ ]:
moyenneTotale=df_matieres["note"].mean().round(2)

In [ ]:
moyenneTotale

##### nbEtudiants Inscrit par matière

df_nbEtudiantsParDepartement = pd.read_sql_query("SELECT codeMatiere,note FROM resultats r , inscriptions i where r.IdInscription=i.IdInscription", connection)
df_matieres

In [ ]:
nbEtudiants=pd.read_sql_query("SELECT codeMatiere,idEtudiant FROM inscriptions ", connection)
nbEtudiants

In [ ]:
nbEtudiantInscMat=nbEtudiants.groupby('codeMatiere')["IdEtudiant"].value_counts()

In [ ]:
nbEtudiantInscMat

In [ ]:
nbEtudiantsParMat=pd.read_sql_query("SELECT codeMatiere,COUNT(IdEtudiant)  FROM inscriptions GROUP BY codeMatiere", connection)
nbEtudiantsParMat

In [ ]:
nbEtudiantsParDep=pd.read_sql_query("SELECT cp,COUNT(IdEtudiant)  FROM etudiants GROUP BY cp ", connection)
nbEtudiantsParDep

#### Regrouper les dataframes et écrire dans un fichier JSON

In [ ]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'locals()'],
 '_oh': {},
 '_dh': ['/content'],
 'In': ['', 'locals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7f62a63c3d60>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x7f62a63fc370>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x7f62a63fc370>,
 '_': '',
 '__': '',
 '___': '',
 '_i': '',
 '_ii': '',
 '_iii': '',
 '_i1': 'locals()'}