<a href="https://colab.research.google.com/github/nevermind78/Data_Analysis/blob/main/TP1_dataframes_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrames feature

In [1]:
# import standard libs
import os

# if on collab pull required subdirectories
if os.getenv("COLAB_RELEASE_TAG"): 
    # install github clone - allows for easy cloning of subdirectories
    !pip install github-clone
    from pathlib import Path 

    # clone datasets
    if not Path('TP1').is_dir():
        !ghclone https://github.com/nevermind78/Data_Analysis/tree/main/TP1/
        print('TP1 already cloned!')


# append path for local library, data, and image import
import sys
sys.path.append('./TP1')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting github-clone
  Downloading github_clone-1.2.0-py3-none-any.whl (9.1 kB)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.10/dist-packages (from github-clone) (2.27.1)
Collecting docopt>=0.6.2 (from github-clone)
  Downloading docopt-0.6.2.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20.0->github-clone) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20.0->github-clone) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20.0->github-clone) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20.0->github-clone) (3.4)
Building wheels for collected packages: docopt
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13707 sha256=e6c7020f8705efbd70471a5ccb3e8264d5c07f4ce02ff63ca58d5b116ce28f12
  Stored in directory: /root/.cache/pip/wheels/fc/ab/d4/5da2067ac95b36618c629a5f93f809425700506f72c9732fac
Successfully built docopt
Installing collected packages: docopt, github-clone
Successfully installed docopt-0.6.2 github-clone-1.2.0
Cloning into ''...
done.
TP1 already cloned!

## Creation d'un dataframe avec pandas

Nous allons commencer par créer un dataframe `product_data` définie à partir des données 
```python3
product_data = {
    'product a': [13, 20, 0, 10], 
    'project b': [10, 30, 17, 20],
    'project c': [6, 9, 10, 0]}
```

In [ ]:
# Importer la bibliothèque pandas avec l'alias pd
import pandas as pd

In [ ]:
# données sous la forme de dictionnaire

product_data = {
    'product a': [13, 20, 0, 10], 
    'product b': [10, 30, 17, 20],
    'product c': [6, 9, 10, 0]
}

In [ ]:
product_data

{'product a': [13, 20, 0, 10],
 'product b': [10, 30, 17, 20],
 'product c': [6, 9, 10, 0]}

### Transformation du dictionnair en data frame

In [ ]:
purchase_data = pd.DataFrame(product_data)

In [ ]:
purchase_data

   product a  product b  product c
0         13         10          6
1         20         30          9
2          0         17         10
3         10         20          0

### Ajouter l'index

In [ ]:

purchase_data = pd.DataFrame(product_data, 
                             index=['Ronny', 'Bobby', 'Ricky', 'Mike'])

In [ ]:
purchase_data.head()

       product a  product b  product c
Ronny         13         10          6
Bobby         20         30          9
Ricky          0         17         10
Mike          10         20          0

In [ ]:
purchase_data["product_d"]=[11,12,13,14]
purchase_data

       product a  product b  product c  product_d
Ronny         13         10          6         11
Bobby         20         30          9         12
Ricky          0         17         10         13
Mike          10         20          0         14

### Opérations sur les dataframes

* Filtrage

In [ ]:
#purchase_data.iloc[2]
purchase_data.iloc[2]
#.loc(" nom de la ligne")

product a     0
product b    17
product c    10
product_d    13
Name: Ricky, dtype: int64

In [ ]:
# d'une manière équivalente 
purchase_data.iloc[2] >0
#.iloc() l'index de la ligne

product a    False
product b     True
product c     True
product_d     True
Name: Ricky, dtype: bool

In [ ]:
purchase_data.iloc[0] >10

product a     True
product b    False
product c    False
product_d     True
Name: Ronny, dtype: bool

In [ ]:
purchase_data.iloc[:,0]# extarcation de la première colonne

Ronny    13
Bobby    20
Ricky     0
Mike     10
Name: product a, dtype: int64

In [ ]:
purchase_data.iloc[0]

In [ ]:
purchase_data[purchase_data['product a']>=11].iloc[0]
# ["nom dela colonne"] séléctionner la colonne

product a    13
product b    10
product c     6
product_d    11
Name: Ronny, dtype: int64

### Dataframe à partir d'un fichier csv

In [ ]:
df = pd.read_csv('../data/sources/purshases.csv', index_col=0)

df

        apples  oranges  bananas

 June        3        0      2.0
Robert       2        3      4.5
Lily         0        7      1.0
David        1        2      3.0

In [ ]:
df.dtypes

apples       int64
oranges      int64
bananas    float64
dtype: object

Excuter la cellule précédente en enlevant ```index_col=0```

In [ ]:
df = pd.read_csv('../data/sources/purshases.csv')

df

           apples  oranges  bananas
0    June       3        0      2.0
1  Robert       2        3      4.5
2    Lily       0        7      1.0
3   David       1        2      3.0

### DataFrame à partir d'un fichier json

In [ ]:
df = pd.read_json('../data/sources/purshases.json')

df

         David  June  Lilly  Robert
apples       1     3      0       2
oranges      2     0      7       3

In [ ]:
DF=df.transpose()
DF

        apples  oranges
David        1        2
June         3        0
Lilly        0        7
Robert       2        3

In [ ]:
df.transpose().to_json('../data/sources/purshases_t.json')

### Base de donné à partir d'un dataframe

> Nous allons créer un fichier de base de donnée à partir du data frame **DF**

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>apples</th>      <th>oranges</th>    </tr>  </thead>  <tbody>    <tr>      <th>David</th>      <td>1</td>      <td>2</td>    </tr>    <tr>      <th>June</th>      <td>3</td>      <td>0</td>    </tr>    <tr>      <th>Lilly</th>      <td>0</td>      <td>7</td>    </tr>    <tr>      <th>Robert</th>      <td>2</td>      <td>3</td>    </tr>  </tbody></table>'

#### Création du contexte

In [ ]:
import sqlite3
connection = sqlite3.connect('db.sqlite')
cursor = connection.cursor()
cursor.execute('Create Table if not exists purshases (id Text, apples Integer, oranges Integer)')
connection.commit()

#### Ingestion du dataframe Df dans la base de donnée

In [ ]:
DF.to_sql('purshases', connection, if_exists='replace', index = True)
connection.close()

In [ ]:
con2=sqlite3.connect('db.sqlite')

In [ ]:
df2 = pd.read_sql_query("SELECT * FROM purshases", con2)

df2

    index  apples  oranges
0   David       1        2
1    June       3        0
2   Lilly       0        7
3  Robert       2        3

##### Remarques 

* Pour l'installation des bibliothèques utilisé dans ce notebook :
    * ``` !pip install pysqlite3 ```
    * ``` !pip install <nom du package> ```

### Importer une database en dataframe

In [ ]:
con = sqlite3.connect("../data/sources/customer_sales.db")

* Explorer les tablesde la base de donnée

In [ ]:
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

In [ ]:
df = pd.read_sql_query("SELECT * FROM tbl_products", con)

df

In [ ]:
df = df.set_index('Product_ID')

df

* Pour enrejistrer un dataframe en format ```csv```

In [ ]:
df.to_csv('new_purchases.csv')

## From CSV to DataFrame

- Dans cette partie nous allons:
    * Explorer le fichier CSV **`IMDB-Movie-Data.csv`**
    * Voir l'utilité des méthodes `.head()` , `tail()`,`.info()`, `.shape`, `.append()`, ...
    * Appliquer quelques transformations au dataframe
    * Calculer quelques informations statistiques
 
 
 Essayer de décrire l'utilité de chaque opération et transformation :

In [ ]:
movies_df = pd.read_csv("../data/sources/IMDB-Movie-Data.txt", index_col="Title")

In [ ]:
movies_df.head(3)
# .head affiche les 5 premier lignes d'un data frame

In [ ]:
movies_df.tail(2)

In [ ]:
movies_df.info()

In [ ]:
x= int(input(' donner une valeur '))

In [ ]:
type(x)

In [ ]:
movies_df.shape

In [ ]:
temp_df = movies_df.append(movies_df)

temp_df.shape

In [ ]:
temp_df = temp_df.drop_duplicates()

temp_df.shape

In [ ]:
temp_df.drop_duplicates(inplace=True)

In [ ]:
temp_df = movies_df.append(movies_df)  # make a new copy

temp_df.drop_duplicates(inplace=True)

temp_df.shape

In [ ]:
movies_df.columns

In [ ]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


movies_df.columns

In [ ]:
movies_df.columns = ['Rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']


movies_df.columns

In [ ]:
movies_df.columns = [col.lower() for col in movies_df]

movies_df.columns

In [ ]:
movies_df.isnull().sum()

In [ ]:
movies_df.isnull().sum()

In [ ]:
movies_df.dropna().info()

In [ ]:
movies_df.dropna(axis=0).info()

In [ ]:
revenue = movies_df['revenue_millions']

In [ ]:
revenue.head()

In [ ]:
revenue_mean = revenue.mean()

revenue_mean

In [ ]:
revenue_std = revenue.std()

revenue_std

In [ ]:
revenue.fillna(revenue_mean, inplace=True)

In [ ]:
movies_df.isnull().sum()

In [ ]:
movies_df.describe()

In [ ]:
movies_df.sort_values(by='rank')

In [ ]:
movies_df.sort_index(1)

In [ ]:
#https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

In [ ]:
movies_df.boxplot('revenue_millions')


* Affichage

|Méthode/Attribut|descrption|
|----------------|----------|
|**df.head(n)**| Affiche les n premières lignes|
|**df.head()**| Affiche les 5 premières lignes|
|**df.tail(n)**| Affiche les n dérnières lignes|
|**df.tail()**| Affiche les 5 dérnières lignes|
|**df.shape**| Affiche la dimension du DataFrame|

* statistiques
  
    * df.describe : les valeurs statistiques du DataFrame
    * df.box_plot(" le nom de la colonne') : Affiche le box plot



$$\sum_{k=1}^{\infty}\frac{1}{n^2}=\frac{\pi^2}{6}$$