<a href="https://colab.research.google.com/github/nevermind78/Data_Analysis/blob/main/TP2_retrieve_sql_and_create_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# TP2 Analyse de données  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2022_2023
-------

## Exercice 1 :
1. Importer la bibliothèque `sqlite3` et la bibliothèque `pandas` avec l'alias `pd`.

2. Créer une connection `conn` en pointant le fichier `customer_sales.db'` se trouvant dans le chemin `/data/source/ `. 

3. Créer le data frame **df_sales** à partir de la connection faite en a.
    
4. Donner l'index de **df_sales**.
    
5. Changer l'index de **df_sales** en `Sales_Id`.
    
6. Afficher les $2$ premières ligne du dataframe **df_sales**.
    
7. Inspecter les informations de **df_sales** ( utiliser `df.info` ). Y-a-t il des données manquantes?

8. Trier **df_sales** selon la colonne `Sale_date` par ordre croissant. Donner la description de l'achat le plus récent ?
9. Séléctionner toutes les données de **df_sales** tels que `['Sales_Amount'] > 100`.
10. Séléctionner toutes les données de **df_sales** tels que `['Sales_Quantity'] =1`.

In [ ]:
# import standard libs
import os

# if on collab pull required subdirectories
if os.getenv("COLAB_RELEASE_TAG"): 
    # install github clone - allows for easy cloning of subdirectories
    !pip install github-clone
    from pathlib import Path 

    # clone datasets
    if not Path('TP2').is_dir():
        !ghclone https://github.com/nevermind78/Data_Analysis/tree/main/TP2
        print('TP1 already cloned!')


# append path for local library, data, and image import
import sys
sys.path.append('./TP2')

### Réponse à la question 3 ( Code SQL)

* Installer `ipython-sql` avec la commande : 
```python
!pip install ipython-sql
``` 
* Exécuter dans une autre cellules
> ```python
%%capture
%load_ext sql
%sql sqlite:///customer_sales.db
```
* Puis
>```python
%%sql
select * from tbl_sales
where Sales_Amount > 100
```

In [ ]:
%%capture
%load_ext sql
%sql sqlite:///customer_sales.db

In [ ]:
%%sql
select * from tbl_sales
where Sales_Amount > 100

### Espace résérvé à la correction 

* Q1

In [ ]:
pass

In [ ]:
pass

* Q2

In [ ]:
pass

* Q3

In [ ]:
pass

* Q4

In [ ]:
pass

* Q5

In [ ]:
pass

* Q6

In [ ]:
pass

* Q7

In [ ]:
pass

* Q8

In [ ]:
pass

* Q9

In [ ]:
pass

* Q10

In [ ]:
pass

## EXERCICE 2 :

> * Corriger les erreurs éventuelles
> * Interpréter et commenter chaque ligne de code

In [ ]:
ls ../data/source

In [ ]:
import pandas as pd

In [ ]:
df_user_churn_cleaned = pd.read_csv('user_hits_binning_import.csv', parse_dates=['date'])

In [ ]:
df_user_churn_cleaned.head(10)

In [ ]:
from datetime import datetime
import numpy as np

In [ ]:
df_user_churn_cleaned['age'] = (datetime.now() - pd.to_datetime(df_user_churn_cleaned['date'])).dt.days

In [ ]:
df_user_churn_cleaned

In [ ]:
df_ages = df_user_churn_cleaned.groupby('userid').max()

In [ ]:
df_ages

In [ ]:
365*5

In [ ]:
df_ages['age_bin'] = pd.cut(x=df_ages['age'], bins=[1, 1094, 1825, 9999], labels=['< 3 year', '3 to 5 years', '> 5 years'])

In [ ]:
#df_ages['age_by_decade'] = pd.cut(x=df_ages['age'], bins=[__, __, __], labels=['< 1 year', '1 to 2 years', '> 3 years'])

In [ ]:
#df_user_churn_cleaned['day_of_week_in_number'] = pd.df_user_churn_cleaned['date'].dt.dayofweek

In [ ]:
df_ages

In [ ]:
df_grouped = df_ages.groupby('age_bin').count()

In [ ]:
df_grouped

In [ ]:
df_grouped.drop(['date'], axis=1)

In [ ]:
df_grouped.rename(columns={'age': 'user count'}, inplace=True)

In [ ]:
df_grouped

In [ ]:
df_grouped.drop(['date'], axis=1)